node_modules/
.env
*.log
service-account.json

# Security & Keys
*.pem
*.key
*.pub

# Binaries & Cloudflared
cloudflared.exe
cloudflared.deb

# Editor folders
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store
INSTRUCCIONES_GITHUB_SECRETS.txt
